div.barra-buscar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 10;
    padding: 1rem;
}

div.barra-buscar img{
    width: 60px;
    height: 60px;
}

div.barra-buscar input{
    width: 650px;
    height: 60px;
    border: 0;
    border-radius: 50px;

    background-color: #604100;
    padding: 20px;
    font-size: 28px;
    color: #FFF3C9;
    outline: none;
}

.buscar-btn{
    all: unset;
    display: flex;
    align-items: center;
}

::placeholder{
    Color: #FFDF94;
    font-size: 1.5rem;

    text-align: justify;
    opacity: 0.5;

    font-family: 'Inika', serif;
}
@media (max-width: 768px) {
    div.barra-buscar {
        margin-top: 0;
    }
    div.barra-buscar input{
        width: 90%;
    }
}