.logo-circular {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.logo-circular > img {
  max-width: 25rem;
  height: auto;
}

@media (max-width: 768px) {
  .logo-circular > img {
    max-width: 10rem;
  }
}
