section.edit-post {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff3c9;
}

form.editForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.editpostdiv {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 2.5rem;

  margin-left: 5%;
  margin-right: 5%;
}
div.editImage {
  width: 40%;
  height: auto;
  background-color: #604100;
  border-radius: 20px;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div.editImage > p {
  color: #fff3c9;
  font-size: 2rem;
}

div.editImage > input {
  color: #fff3c9;
  font-family: 'Inika', sans-serif;
}

.inputfile::-webkit-file-upload-button {
  background-color: #fff3c9;
  color: #604100;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Inika', sans-serif;
}

div.editInformation {
  width: 50%;
  height: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0;
}

input.editPost {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Inika', sans-serif;
  background-color: #ffdf94;
  font-weight: bold;
}

select.editPost {
  width: 82%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Inika', sans-serif;
  background-color: #ffdf94;
  font-weight: bold;
}

label {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-family: 'Inika', sans-serif;
  color: #604100;
  font-weight: bold;
}

input.editPost::placeholder {
  color: #604100;
  font-weight: bold;
  opacity: 0.5;
  font-family: 'Inika', sans-serif;
}

div.EditInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
