section.product {
    background-color: #FFF3C9;
    min-height: 92.5vh; /* Mantiene al menos el 92.5% del alto del viewport */
    padding: 20px; /* Evita que los márgenes de los hijos colapsen */
    overflow: hidden; /* Garantiza que envuelva los elementos flotantes o márgenes colapsados */
  }
  